<h1 class="text-center my-5">Blog Synchronization</h1>

<% if @err_msg %>
    <div class="alert alert-danger"><%= @err_msg %></div>
<% end %>

<% if @success_posts && @success_posts.length > 0 %>
    <div class="alert alert-success">
        <b>Synchronized <%= @success_posts.length %> posts with following slugs:</b>
        <ul> 
            <% @success_posts.each do |post| %>
                <li><%= post.slug %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<% if @failed_posts && @failed_posts.length > 0 %>
    <div class="alert alert-danger">
        <b>Failed to synchronize <%= @failed_posts.length %> posts with following slugs:</b>
        <ul> 
            <% @failed_posts.each do |post| %>
                <li><%= post.slug %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_tag("/db_sync") do %>
    <div class="form-group mb-4"> 
        <b><%= label_tag "slugs", "Enter post slugs to synchronize", class: "mb-3" %></b>
        <%= text_area_tag "slugs", nil , size: "20x15", class: "form-control" %>    
    </div> 
    <div class="text-center">
        <%= submit_tag "Start synching", class: "btn btn-primary" %>
    </div>
<% end %>